//Global Variables
$white: #fff;
$cubic: cubic-bezier(0.23, 1, 0.32, 1);
$translateZero: translate(0, 0);

//Colours map
$colours: ("col1": #244F75, "col2":#60BFBF, "col3": #8C4B7E,"col4": #F8BB44, "col5": #F24B4B);

//Transform position map
$animation: ("container1": (-100%, 0), "container2": (0, 100%), "container3": (0, -100%), "container4": (0, 100%), "container5": (100%, 0));